@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    border: none;
}

body{
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
}
section{
    width: 100%;
    height: auto;
    display: flex;
    
    flex-direction: column;
   
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo{
    width: auto;
    height: auto;
}

.container{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container p{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

b , small{
    color: red;
}
.container img{
    width: 30%;
   
}
.container form{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    gap: 12px;
    padding-top: 10px;
}

form div{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

form div input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3333333d;
    font-size: 1rem;
}
form div input:focus
 {
    border: 1px solid #25EC8F;
}
form div textarea{
    width: 100%;
    height: 250px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3333336b;
    font-size: 1rem;
}

form div label{
    font-size: 15px;
}
form  button{
    width: 90%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

     /* Modal styles */
     .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 300px;
        text-align: center;
        margin-top: 30px;
        border-radius: 18px;
        gap: 4px;
    }
    .modal-content img{
        width: 30%;
    }
    .progress-bar {
        width: 100%;
        height: 10px;
        background-color: #f3f3f3;
        border-radius: 15px;
        overflow: hidden;
        margin-top: 10px;
    }
    .progress-bar-fill {
        height: 20px;
        width: 0;
        background-color: linear-gradient(45deg, to right,  #4caf50, #25EC8F ,#00FF09);
        border-radius: 5px;
        transition: width 0.1s;
    }

@media screen and (max-width: 768px){
    .container img{
        width: 50%;
    }
    .container form{
        width: 90%;
    }
    
}